<!DOCTYPE html>
{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E100Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <title>구매내역</title>
</head>
<body>
    <div>
        <!-- {%for i in DB이름.all %} -->
        <div class="history_list">
            <div class="date mb-0">
                <div class="mt-3 ml-2" style="float: left;">주문일 2020년 10월 2일</div>
                <div class="mt-3 mr-2" style="float: right;"><a href="#">주문상세보기</a></div>
            </div>
            <div class="row" style="border: solid 1px gainsboro; margin: 0 50px;">
                <div class="col-3 p-3" style="border-right: solid 1px gainsboro; text-align:center;">
                    <img class="m-3" src="{% static 'img/grape.jpg' %}" width="150px" height="150px"><!-- src="{{i.set_img.url}}""로 바꾸면 됩니다.-->
                </div>
                <div class="col-6 p-3" style="border-right: solid 1px gainsboro;">
                    <p class="historyNameTxt pt-3 mt-5 mb-0">추석기념선물세트추석때도못쉬었고오늘도못쉬어</p> <!-- {{i.history_name}} -->
                    <small>{{가격}}원 / 1개</small> <!-- {{i.history_price}} / {{i.history_count}} -->
                </div>
                <div class="col-3 p-3" style="text-align:center;">
                    <div>주문완료</div>
                    <a href="#"><button class="historyBtn1">배송조회</button></a><br>
                    <a href="#"><button class="historyBtn1">교환신청</button></a><br>
                    <a href="#"><button class="historyBtn1">반품신청</button></a><br>
                    <a href="#"><button class="historyBtn1">구매후기쓰기</button></a>
                </div>
            </div>
        </div>
        <!-- {%endfor%} -->
        <div class="history_list">
            <div class="date mb-0">
                <div class="mt-3 ml-2" style="float: left;">주문일 2020년 10월 2일</div>
                <div class="mt-3 mr-2" style="float: right;"><a href="#">주문상세보기</a></div>
            </div>
            <div class="row" style="border: solid 1px gainsboro; margin: 0 50px;">
                <div class="col-3 p-3" style="border-right: solid 1px gainsboro; text-align:center;">
                    <img class="m-3" src="{% static 'img/grape.jpg' %}" width="150px" height="150px">
                </div>
                <div class="col-6 p-3" style="border-right: solid 1px gainsboro;">
                    <p class="historyNameTxt pt-3 mt-5 mb-0">추석기념선물세트추석때도못쉬었고오늘도못쉬어</p>
                    <small>{{가격}}원 / 1개</small>
                </div>
                <div class="col-3 p-3" style="text-align:center;">
                    <div>배송중</div>
                    <button class="historyBtn1">배송조회</button><br>
                    <button class="historyBtn1">교환신청</button><br>
                    <button class="historyBtn1">반품신청</button><br>
                    <button class="historyBtn1">구매후기쓰기</button>
                </div>
            </div>
        </div>    
    </div>
</body>
</html>