<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인덱스</title>
    <link href="css/index.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <nav>
        <!-- 여기에 네비바 부분 -->
    </nav>
    <div class="container" style="visibility: hidden;">
        안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>
    </div>
    <div class="container test">
        <div class="row">
            <div class="test1 col-9">광고</div>
            <div class="test2 col-3 ">
                <form>
                    <input type="text"><br>
                    <input type="text"><br>
                    <button>로그인</button>
                    <button>회원가입</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container" style="visibility: hidden;">
        안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>
    </div>
    <!-- 아래 부분은 추후 for문으로 구현할것 -->
    <div class="container test3">
        <div class="row d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/로고.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">카드</h5>
                    <p class="card-text">내용</p>
                    <a href="#" class="btn btn-primary">버튼</a>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/로고.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">카드</h5>
                    <p class="card-text">내용</p>
                    <a href="#" class="btn btn-primary">버튼</a>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/로고.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">카드</h5>
                    <p class="card-text">내용</p>
                    <a href="#" class="btn btn-primary">버튼</a>
                </div>
            </div>
        </div>
        <div class="row"><br></div>
        <div class="row d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/로고.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">카드</h5>
                    <p class="card-text">내용</p>
                    <a href="#" class="btn btn-primary">버튼</a>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/로고.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">카드</h5>
                    <p class="card-text">내용</p>
                    <a href="#" class="btn btn-primary">버튼</a>
                </div>
            </div>
            &nbsp;&nbsp;
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/img/로고.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">카드</h5>
                    <p class="card-text">내용</p>
                    <a href="#" class="btn btn-primary">버튼</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>