<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제작 부분 구현</title>
    <link rel="stylesheet" type="text/css" href="css/make.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script language="javascript">
            function showPopup() { window.open("search.html", "a", "width=1000px, height=700px, left=500, top=100"); }
            </script>
</head>

<body>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <div class="container" style="visibility: hidden;">
        안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>
    </div>
    <div class="container" style="visibility: hidden;">
        안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>
    </div>

    <div class="container-fluid">
        <div class="col-md-12 product-info">
            <ul id="myTab" class="nav nav-tabs nav_tabs">

                <li class="active"><a href="#service-one" data-toggle="tab">step1</a></li>
                <li><a href="#service-two" data-toggle="tab">step2</a></li>
                <li><a href="#service-three" data-toggle="tab">step3</a></li>

            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="container" style="visibility: hidden;">
                    안보이는부분/공간차지용<br>
                </div>
                <div class="tab-pane fade in active" id="service-one">
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="container test col-8 ">
                                <br>선
                                <br>물
                                <br>제
                                <br>작
                                <br>칸
                                <br>입
                                <br>니
                                <br>다
                            </div>
                            <div class="container test1 col-3">
                                현재의 가격정보
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <button>다음 단계로</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="service-two">
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="container test col-8 ">
                                <br>선
                                <br>물
                                <br>제
                                <br>작
                                <br>칸
                                <br>입
                                <br>니
                                <br>다
                            </div>
                            <div class="container test1 col-3">
                                현재의 가격정보
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <button>이전 단계로</button>
                                <button>다음 단계로</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="service-three">
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="container test col-8 ">
                                <br>선
                                <br>물
                                <br>제
                                <br>작
                                <br>칸
                                <br>입
                                <br>니
                                <br>다
                            </div>
                            <div class="container test1 col-3">
                                현재의 가격정보
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <button>이전 단계로</button>
                                <button>결제</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container test">
                찜목록에있는거 여기에 띄우기
                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                <div class="container d-flex justify-content-end test1 m-0 p-0">
                    <button onclick="showPopup();">추가검색/search 로 연결해서 가져오기/search는 다른사람이 구현함/이상하면 따로 구현할것</button>
                </div>
            </div>
        </div>
    </div>


</body>

</html>