<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" type="text/css" href="css/mypage.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <div class="container" style="visibility: hidden;">
        안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>
    </div>
    <div class="container" style="visibility: hidden;">
        안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-1 test3">정보 창</div>
    <div class="container-fluid col-11">
        <div class="col-md-12 product-info">
            <ul id="myTab" class="nav nav-tabs nav_tabs d-flex justify-content-end">

                <li class="active"><a href="#rank" data-toggle="tab">내랭킹</a></li>
                <li><a href="#cart" data-toggle="tab">장바구니</a></li>
                <li><a href="#history" data-toggle="tab">구매내역</a></li>
                <li><a href="#save" data-toggle="tab">찜</a></li>
                <li><a href="#modify" data-toggle="tab">수정</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="container" style="visibility: hidden;">
                    안보이는부분/공간차지용<br>
                </div>
                <div class="tab-pane fade in active" id="rank">
                    <iframe src="mypage_rank.html" class="frameset"></iframe>
                </div>
                <div class="tab-pane fade" id="cart">
                    <iframe src="mypage_cart.html" class="frameset"></iframe>
                </div>
                <div class="tab-pane fade" id="history">
                    <iframe src="mypage_history.html" class="frameset"></iframe>
                </div>
                <div class="tab-pane fade" id="save">
                    <iframe src="mypage_save.html" class="frameset"></iframe>
                </div>
                <div class="tab-pane fade" id="modify">
                    <iframe src="mypage_modify.html" class="frameset"></iframe>
                </div>
            </div>
            <hr>

        </div>
    </div>
    </div>
</div>

</div>
</body>

</html>