<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색</title>
    <link rel="stylesheet" type="text/css" href="css/search.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <div class="container" style="visibility: hidden;">
        안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>
    </div>
    <div class="container" style="visibility: hidden;">
        안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <input class="form-control w-75" type="text" placeholder="Search" aria-label="Search"><button
                class="btn btn-outline-success my-sm-0" type="submit">검색</button>
            <i class="fas fa-search" aria-hidden="true"></i>
            </form>
        </div>

    </div>
    <div class="container" style="visibility: hidden;">
        안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>
    </div>
    <div class="container test">
        <div class="row">
            <u class="col-3"># 인스타</u> <u class="col-3"># 감성으로</u><u class="col-3"># 꾸며보시죠</u> <u class="col-3"># 잘</u>
        </div>
    </div>
    <div class="container" style="visibility: hidden;">
        안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>안보이는부분/공간차지용<br>
    </div>
    <div class="container">
    <div class="card-columns">
        <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="160" xmlns="http://www.w3.org/2000/svg"
                aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" role="img">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image
                    cap</text>
            </svg>
    
            <div class="card-body">
                <h5 class="card-title">검색결과를</h5>
                <p class="card-text">이런곳에다가</p>
            </div>
        </div>
        <div class="card p-3">
            <blockquote class="blockquote mb-0 card-body">
                <p>능력껏 띄우되</p>
                <footer class="blockquote-footer">
                    <small class="text-muted">
                        디자인은 바꿔도됨 <cite title="Source Title">/알겠지</cite>
                    </small>
                </footer>
            </blockquote>
        </div>
        <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="160" xmlns="http://www.w3.org/2000/svg"
                aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" role="img">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image
                    cap</text>
            </svg>
    
            <div class="card-body">
                <h5 class="card-title">솔직히 여기</h5>
                <p class="card-text">개꿀인정?</p>
                <p class="card-text"><small class="text-muted">ㅇㅇㅈ</small></p>
            </div>
        </div>
        <div class="card bg-primary text-white text-center p-3">
            <blockquote class="blockquote mb-0">
                <p>이부분은</p>
                <footer class="blockquote-footer text-white">
                    <small>
                        없애도되고 <cite title="Source Title"> 필요한진모르겠음</cite>
                    </small>
                </footer>
            </blockquote>
        </div>
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">이건</h5>
                <p class="card-text">그냥 일반 카드형식</p>
                <p class="card-text"><small class="text-muted">여러 카드 골라서 써봐</small></p>
            </div>
        </div>
        
        <div class="card">
            <svg class="bd-placeholder-img card-img" width="100%" height="260" xmlns="http://www.w3.org/2000/svg"
                aria-label="Placeholder: Card image" preserveAspectRatio="xMidYMid slice" role="img">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Card
                    image</text>
            </svg>
    
        </div>
        <div class="card p-3 text-right">
            <blockquote class="blockquote mb-0">
                <p>딱히 카드 종류가 안많음</p>
                <footer class="blockquote-footer">
                    <small class="text-muted">
                        ㅁㄴㅇ<cite title="Source Title">ㅁㄴㅇ</cite>
                    </small>
                </footer>
            </blockquote>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">ㅁㄴㅇㅁㄴㅇㄴㅁ</h5>
                <p class="card-text">ㅁㄴㅇㄴㅁㅇㅁㄴㅇㅁㄴㅇㄴㅁㅇㄴㅁㅇ</p>
                <p class="card-text"><small class="text-muted">ㅁㄴㅇㅁㄴㅇㄴㅁ</small></p>
            </div>
        </div>
    </div>
</div>
</body>


</html>